BOT_TOKEN=your_bot_token_here
ADMIN_IDS=12345678,87654321

# Dekanlar ID'lari (vergul bilan ajratilgan)
KUN_DEKAN_IDS=12345678
KECH_DEKAN_IDS=12345678
MAG_DEKAN_IDS=12345678
MED_DEKAN_IDS=12345678
SIRT_DEKAN_IDS=2121812492
# PostgreSQL sozlamalari
PGHOST=127.0.0.1
PGUSER=postgres
PGPASSWORD=your_password_here
PGDATABASE=dekangamurojaat
PGPORT=5432
